@charset "utf-8";
@import url(reset.css);

@media all and (max-width:767px){

 /* header */

 #header{height:90px;position:relative;background-color:#111;overflow:hidden;padding:0}
 #header .logo{width:100%;height:60px;text-align:center;float:initial}
 .menu_list{width:200%;margin-top:0;height:30px;background-color:#ec9100;float:initial;padding:0 2%}
 .menu_list li{margin-left:0;height:100%}
 .menu_list li a{font-size:15px;height:100%;line-height:30px;opacity:0.5;padding:0 10px}
 .menu_list li a:before{display:none}
 .menu_list li.on a{opacity:1}
 
  /* container */
 
 html{overflow-y:scroll;background-color:#111}
 #wrapper{min-width:320px;min-height:initial}
 #wrapper > section,#wrapper > article{height:150vw;position:absolute;top:90px;left:0}

/* visual */

.visual{background:url(../images/bg_visual_m.png) no-repeat center top / cover;padding:0 5%}
.visual_list{transform:translate(0);top:0;position:relative;width:100%}
.visual_list .visual_cont,.visual_list .visual_cont:nth-of-type(2){transform:translate(0);top:25px;background-size:65%;background-position:center top;padding:58% 0 0}

.visual_cont strong,.visual_cont:nth-of-type(2) strong{background-position:center top;background-size:90%;padding:32vw 0 0;height:100%}
.visual_cont:nth-of-type(2) strong{background-position:10vw top}
.visual_cont strong span{font-size:6vw;text-align:center;display:block;padding:0;width:100%;margin-top:-25px}
.visual_info{font-size:3.4vw;text-align:center;padding:0;background:url(../images/point_m.png) no-repeat center top / 80%;padding-top:11vw}

.visual_btn{top:19%}

.visual_num,.visual_bar{display:none}


/* ingre */

.ingre{background-position:center;padding:0;display:none}

.ingre .ingre_btn{margin-top:30px;height:50vw;min-height:180px}
.ingre .ingre_btn li{width:70vw;height:50vw}
.ingre_btn li.left{left:-40vw}
.ingre_btn li.right{right:-40vw}
.ingre .ingre_btn li.on{display:block;margin-left:-35%}

.ingre_list{margin-top:20px}
.ingre_sub{font-size:4vw;margin-bottom:25px}
.ingre_sub:before{width:90%;margin-left:-45%;height:5px}

.ingre_txt{display:none}
.ingre_txt_m{display:block;font-size:3.5vw;line-height:2.3}


/* store */

.store{padding:25px 5%}
.store h2{margin-bottom:20px}
.store_frm{display:none}

.location li a{font-size:3.5vw;padding:1.8vw 4.2vw;margin-bottom:12px}

.store_list{display:none}

.store_list_m{display:block;color:#fff;border-bottom:1px solid #ec9100;margin-top:8px}
.store_info_m{width:100%;height:50px;border-top:1px solid #ec9100;border-bottom:1px solid #d9d9d9;line-height:50px;font-size:15px;padding:0 10px}
.store_loc_m{display:inline-block;background-color:#ec9100;height:25px;line-height:25px;padding:0 8px}
.store_name_m{margin:0 7px}
.service{display:inline-block;line-height:30px}

.store_info2_m{width:100%;height:60px;line-height:35px;padding:0 8px;font-size:12px}
.store_tel_m{display:block;line-height:0;margin-top:5px;color:#ec9100}


/* event */

.event{padding:0 5%}
.event_list{position:relative;transform:translate(0);top:initial;width:100%}
.event_list li{position:relative;width:100%;float:none;margin:30px 0;opacity:1;height:60vw}

.event_list li:before{display:none}
.event_list li:after{content:'';position:absolute;top:0;right:0;width:10px;height:100%;background-color:#ec9100}

.event_list li a{padding:7vw 5vw}
.event_list li a .event_tit{position:relative;transform:translateX(0);text-shadow:2px 3px 5px #333;font-size:8vw}
.event_list li a .event_txt{margin-top:20px;padding-top:20px;opacity:1;font-size:3.2vw}
.event_list li a .event_more{display:none}
.event_list li:hover:after{width:10px}
.event_list li a:hover .event_txt{margin-top:20px}


/* contact */

.contact_box{width:90%;height:70%;height:500px}
.contact_box .left{width:100%;float:none;padding:0}
.contact_box .right{display:none}

.contact_tit{color:#fff;background-color:#ec9100;height:70px;line-height:70px;padding:0 5%}
.contact_frm{padding:0 5%}
.left_frm{width:40%;float:none;}
.right_frm{width:100%;float:none}


/* footer */

#footer{position:relative;margin-top:150vw;padding-top:25px;z-index:-1;height:calc(100vh - 150vw - 90px)}
#footer .top{display:none}
#footer .footer_logo{margin-bottom:20px}

}