@charset "utf-8";
@import url(reset.css);

/* header */

#header{width:100vw;height:90px;line-height:90px;position:fixed;top:0;left:0;padding:0 4%;z-index:99}
#header *{vertical-align:middle}
#header .logo{float:left}
.menu_list{float:right;margin-top:30px}
.menu_list li{float:left;margin-left:20px}
.menu_list li a{display:block;color:#fff;font-size:24px;padding:0 15px;line-height:1.4;height:33px;width:100%;position:relative}
.menu_list li a:before{content:'';position:absolute;width:0;height:100%;background-color:#ec9100;top:0;left:0;z-index:-1;transition:width 1s ease}
.menu_list li.on a:before{width:100%;z-index:-1}

/* container */

html{overflow:hidden}
#wrapper{min-width:1280px;min-height:800px;position:relative}
#wrapper > section,#wrapper > article{width:100vw;height:100vh;position:relative}

/* visual */

.visual{background:url(../images/bg_visual.jpg) no-repeat right center / cover;padding:0 10%}

.visual_list{width:80%;color:#fff;position:absolute;top:50%;transform:translateY(-50%)}
.visual_list .visual_cont{width:100%;position:absolute;top:50%;left:0;transform:translateY(-50%);display:none;background:url(../images/visual_img1.png) no-repeat left 60% / 55%;padding: 8% 0 8% 40%}
.visual_list .visual_cont:nth-of-type(2){background:url(../images/visual_img2.png) no-repeat left 60% / 55%}

.visual_list .visual_cont.on{display:block}

.visual_cont strong{display:block;font-size:0;background:url(../images/visual_str1.png) no-repeat 0 0 / contain;height:19vw;padding:26% 0 0 50%;font-weight:normal}
.visual_cont:nth-of-type(2) strong{background:url(../images/visual_str2.png) no-repeat 0 0 / contain}

.visual_cont strong span{font-size:2vw;white-space:nowrap;line-height:1.5}
.visual_info{font-size:1.5vw;line-height:2.3;padding-left:25%;white-space:nowrap}

.visual_btn{position:absolute;top:50%;left:0;width:100%;margin-top:-90px}
.visual_btn a{display:block;font-size:0;width:90px;height:180px;position:absolute;top:50%;opacity:0.4;transition:opacity .5s ease}
.visual_btn a:hover{opacity:1}
.visual_btn a:after{content:'';position:absolute;top:70px;width:40px;height:40px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg)}
.visual_btn a:before{content:'';position:absolute;top:0;left:0;border-radius:50%;width:180px;height:180px;background-color:#ec9100}
.visual_btn a.prev_btn{left:-90px}
.visual_btn a.next_btn{right:0px}

.visual_btn a.prev_btn:after{left:110px}
.visual_btn a.next_btn:after{left:30px;transform:rotate(135deg)}

.visual_num{height:50px;width:200px;position:absolute;left:54%;top:80%}
.visual_num a{width:30px;height:30px;display:inline-block;margin-right:15px;background-color:#ec9100;border-radius:50%;font-size:0;opacity:0.4}
.visual_num a.on{opacity:1}

.visual_bar{display:block;width:0;height:10px;position:absolute;left:0;bottom:0;background-color:#ec9100}

/* ingre */

.ingre{background:url(../images/bg_ingre.jpg) no-repeat right center / cover;padding:130px 10%}
.ingre_btn{width:100%;height:400px;margin:0 auto 20px}
.ingre_btn li{width:20%;height:400px;opacity:0.4;transition:all 1s ease}
.ingre_btn li:hover{opacity:1}

.ingre_btn li a{display:block;height:100%;width:100%;font-size:0}
.ingre_btn li:nth-of-type(1) a{background:url(../images/ingre_img1.png) no-repeat center / contain}
.ingre_btn li:nth-of-type(2) a{background:url(../images/ingre_img2.png) no-repeat center / contain}
.ingre_btn li:nth-of-type(3) a{background:url(../images/ingre_img3.png) no-repeat center / contain}
.ingre_btn li.on{width:40%;position:absolute;left:50%;margin-left:-20%;opacity:1}
.ingre_btn li.left{position:absolute;left:10%}
.ingre_btn li.right{position:absolute;left:70%}

.ingre_list li{text-align:center;color:#fff;display:none}
.ingre_list li.on{display:block}

.ingre_tit{font-size:110px;color:#ec9100;font-weight:500}
.ingre_sub{font-size:24px;position:relative;display:block;margin:10px 0 30px;z-index:2}
.ingre_sub:before{content:'';position:absolute;left:50%;bottom:0;width:60%;background-color:#ec9100;margin-left:-30%;height:10px;z-index:-1}
.ingre_txt,.ingre_txt_m{font-size:18px;line-height:2}
.ingre_txt_m{display:none}

/* store */

.store{background:url(../images/bg_store.jpg) no-repeat right center / cover;padding:140px 10% 0}
.store h2{font-size:48px;text-align:center;color:#ec9100;font-weight:500}

.store_frm{margin:40px auto;width:570px;height:50px}
.store_frm input{width:100%;height:50px;border-radius:40px;outline:none;background-color:transparent;border:3px solid #ec9100;text-align:center;line-height:50px;font-weight:lighter;color:#fff;font-size:18px}
.store_frm input::placeholder{color:#fff}

.location{text-align:center}
.location li{display:inline-block}
.location li a{color:#fff;display:block;background-color:#3b3b3b;padding:10px 2vw;border-radius:20px;text-align:center;font-size:18px;margin:0 10px;transition:background .5s ease}
.location li.on a{background-color:#ec9100}
.location li:hover a{background-color:#ec9100}

.store_list{width:100%;border:2px solid #ec9100;margin-top:30px;border-left:none;border-right:none;color:#fff;font-size:18px}
.store_list thead tr{border-bottom:2px solid #ec9100}
.store_list tr{width:100%;height:60px;line-height:60px;border-bottom:2px solid rgba(255, 255, 255,0.5)}
.store_list td:first-child{width: 10%}
.store_list th:first-child{width: 10%}
.store_list td{font-weight:normal;text-align:center}
.store_list tbody tr:last-child{border-bottom:none}

.service{line-height:40px}
.service li{display:inline-block;font-size:0;width:30px;height:30px;background:url(../images/service.png) no-repeat 0 0 / auto 60px}
.service li:nth-of-type(2){background-position:-30px 0}
.service li:nth-of-type(3){background-position:-60px 0}
.service li:nth-of-type(4){background-position:-90px 0}

.service li.off:nth-of-type(1){background-position:0 -30px}
.service li.off:nth-of-type(2){background-position:-30px -30px}
.service li.off:nth-of-type(3){background-position:-60px -30px}
.service li.off:nth-of-type(4){background-position:-90px -30px}

.store_page{margin-top:30px;text-align:center}
.store_page li{display:inline-block;width:35px;height:35px;margin:0 12px}
.store_page li a{display:block;width:100%;height:100%;border-radius:50%;background-color:#666666;color:#fff;text-align:center;font-size:18px;line-height:37px}
.store_page li.on a{background-color:#ec9100}

.store_list_m{display:none}

/* event */

.event{background:#111;padding:0 10%}
.event_list{position:absolute;top:50%;transform:translateY(-50%);width:125vw}
.event_list li{width:52vw;height:65vh;float:left;margin-right:20vw;opacity:0.5;position:relative;transition:all 1s ease}
.event_list li:last-child{margin-right:0}
.event_list li:hover:before{content:'';position:absolute;top:0;left:0;border-top:80px solid #ec9100;border-right:80px solid transparent}
.event_list li:hover:after{content:'';position:absolute;top:0;right:0;width:20px;height:100%;background-color:#ec9100}

.event_list li:hover{opacity:1}
.event_list li a{display:block;width:100%;height:100%;color:#fff;padding:14vh 3vw}
.event_list li:nth-of-type(1) a{background:url(../images/event_img1.jpg) no-repeat 0 center / cover}
.event_list li:nth-of-type(2) a{background:url(../images/event_img2.jpg) no-repeat 0 center / cover}

.event_tit{position:absolute;transform:translateX(-100px);font-size:72px;transition:all 1s ease}
.event_txt{margin-top:150px;font-size:24px;line-height:1.8;position:relative;padding-top:30px;opacity:0;transition:all 1s ease}
.event_txt:after{content:'';position:absolute;top:0;left:0;width:70px;height:5px;background-color:#fff;}

.event_more{position:absolute;right:40px;bottom:2vh;font-size:24px;color:#ec9100;font-weight:bold;transition:all 1s ease;padding-bottom:30px;opacity:0}
.event_more:after{content:'';position:absolute;bottom:0;right:0;background:url(../images/more_arrow.png) no-repeat left bottom / contain;width:150px;height:20px;transition:all 1s ease;opacity:0}
 
.event_list li a:hover .event_tit{transform:translateX(0);text-shadow:2px 3px 5px #333}
.event_list li a:hover .event_txt{margin-top:200px;opacity:1}
.event_list li a:hover .event_more{opacity:1}
.event_list li a:hover .event_more:after{background-position:right bottom;opacity:1}

/* contact */

.contact{background:url(../images/bg_contact.jpg) no-repeat right center / cover;padding:0 10%}
.contact_box{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:70vw;height:550px;background-color:#fff;z-index:10;transition:all 1s ease}
.contact_box.on{transform:translate(-50%,-60%)}

.contact_box .left{width:75%;height:100%;float:left;padding:4vh 2.5vw 0}
.contact_box .right{width:25%;height:100%;float:left;background:url(../images/box_back.png) no-repeat 50px 140px / 360px,#ec9100}

.contact_tit{font-size:36px;color:#ec9100}

.contact_frm{width:100%;margin-top:45px;overflow:hidden}
.left_frm{width:40%;float:left}
.right_frm{width:55%;float:right}

.contact_frm label{font-size:18px;color:#555;font-weight:normal;display:block;margin-bottom:10px}
.contact_frm input{font-size:18px;color:#444;width:100%;margin-bottom:35px;text-align:left;border:none;outline:none;border-bottom:1px solid #777;height:40px;line-height:40px;font-weight:bold}
.contact_frm input::placeholder{font-weight:normal}

.contact_frm input[type=checkbox]{width:0;height:0;overflow:hidden;border:0;outline:0}
.contact_frm .userAgree{display:inline-block;position:relative;cursor:pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;padding-left:28px;margin:0 auto}
.contact_frm .userAgree:after{content:'';display:inline-block;width:18px;height:18px;text-align:center;border:2px solid #ec9100;border-radius:50%;text-align:right;position:absolute;top:-1px;left:0}
input[type=checkbox]:checked + label:before{content:'';position:absolute;top:5px;left:6px;border-top:2px solid #ec9100;border-right:2px solid #ec9100;width:8px;height:4px;transform:rotate(135deg)}

.userAgree a{font-size:14px;color:#888;vertical-align:middle;letter-spacing:-0.05em;}
.userAgree a:hover{color:#ec9100}

.send{display:block;position:absolute;left:0;bottom:0;width:75%;height:50px;line-height:50px;border:none;background-color:#ffe8c1;color:#ec9100;font-size:24px;cursor:pointer}
.send:after{content:'';position:absolute;top:0;left:0;width:0;height:50px;background-color:#fff;opacity:0.5;transition:all .5s ease}
.send:hover:after{width:100%;opacity:0}

.contact_box .right a{background:url(../images/sns.png) no-repeat 0 0 / 160px;display:inline-block;width:80px;height:80px;margin-left:20px;margin-top:25px;font-size:0;opacity:0.8;transition:opacity .5s ease}
.contact_box .right a:nth-of-type(2){background-position:-80px 0}
.contact_box .right a:hover{opacity:1}

/* footer */

#footer{width:100%;height:40vh;position:absolute;bottom:-40vh;left:0;background-color:#111;text-align:center;padding-top:19vh;transition:all 1s ease}
#footer.on{bottom:0}
#footer .top{position:absolute;top:25px;right:60px;font-size:0;display:block;width:70px;height:70px;border:3px solid #ec9100;border-radius:50%}
#footer .top:before{content:'';position:absolute;top:18px;left:22px;width:18px;height:18px;border-top:3px solid #ec9100;border-left:3px solid #ec9100;transform:rotate(45deg)}
#footer .top:after{content:'';position:absolute;top:18px;left:31px;width:3px;height:32px;background-color:#ec9100}
#footer .footer_logo{opacity:0.5;margin-bottom:2vh}
#footer .add{font-size:16px;color:#fff;opacity:0.5;line-height:1.8}
